version: '3.8'

services:
  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx_pm
    restart: always
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./npm_data:/data
      - ./npm_letsencrypt:/etc/letsencrypt

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .  
    container_name: taxi_app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    mem_limit: 512M
    environment:
      # JVM
      - JAVA_OPTS=${JAVA_OPTS}	
      # DB
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=none
      # Admin
      - SPRING_SECURITY_USER_NAME=${ADMIN_USERNAME}
      - SPRING_SECURITY_USER_PASSWORD=${ADMIN_PASSWORD}
      - SPRING_SECURITY_USER_ROLES=ADMIN
      # Telegram
      - TELEGRAM_BOT_USERNAME=${TG_USERNAME_BOT}
      - TELEGRAM_BOT_TOKEN=${TG_BOT_TOKEN}
      - WEB_APP_URL=${WEB_APP_URL}
      # MapBox
      - MAPBOX_ACCESS_TOKEN=${MAPBOX_ACCESS_TOKEN}
      # Tariffs
      - FARE_CALCULATION_STRATEGY=${FARE_CALCULATION_STRATEGY}
      - FARE_BASE=${FARE_BASE}
      - FARE_PER_KM=${FARE_PER_KM}
      - FARE_PER_MIN=${FARE_PER_MIN}
      - FARE_CURRENCY=${FARE_CURRENCY}

networks:
  default:
    name: taxi-network